<div data-controller="video">
<p style="color: green"><%= notice %></p>

<%= render @article %>
<video 
  id="my-player"
    class="video-js vjs-theme-forest"
    controls
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{}'
>
<source src="<%= rails_blob_path(@article.video)%>" />
</video>
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
</div>